doctype 5
html
  head
    title= title
    style.
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      a {
        color: #00b7ff;
      }

  body
    h1= title
      form(method="POST", action="/upload", enctype='multipart/form-data')
        input(type="file", name="image", id="image", accept="image/*")
        button(id="submit") Submit